<!-- <header> -->
<nav class="nav">
    <button class="btn btn-primary" (click)="goBack()">Voltar</button>
    <h2 class="tit">Calendario</h2>
</nav>
<!-- </header> -->


<div class="subt" id="subt">
  <h3> Próximos Eventos </h3>
  <span class="data">{{myDate | date}}</span>
</div>

<body>

  <div class="content" id="econt" *ngFor="let event of cursoCalendario">
    <div class="card">
      <div class="nomeEvento">
        <span><b>{{event.nomeCurso}}</b></span>
        <span class="data"> {{event.data|date}}</span>
      </div>
      <div class="nomeEvento">
        <b>Horário: </b>
        <span [ngStyle]="{'color': 'green'}">{{event.inicio}} - {{event.fim}}</span>
      </div>
    </div>
  </div>
</body>