<!-- <header>
  <h2> Chamada </h2>
  <h4> <a routerLink="/home/true"><button>Voltar</button></a> </h4> -->
<!-- {{presencaCurso.nomeCurso}} </h4> -->
<!-- <span class="data">{{myDate | date}}</span>
  <span class="hora">{{presencaCurso.inicio}} - {{presencaCurso.fim}}</span> -->
<!-- </header> -->

<nav class="nav">
  <button class="btn btn-primary" routerLink="/home/true">Voltar</button>
  <h2 class="tit">Chamada</h2>
</nav>

<div class="subt" id="subt">
  <h3> Procurar Aluno </h3>
</div>

<body>
  <form class="form-inline md-form form-sm active-cyan-2">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Nome do Aluno" aria-label="Search"
      mdbInput>
    <i class="fas fa-search" aria-hidden="true"></i>
    <button class="buttonSearch">Buscar</button>
  </form>

  <div>
    <div *ngFor="let aula of class_student; let i = index">

        <mat-accordion (click)="populateStudentAttendance(i, aula.id)">
            <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false"> -->
            <mat-expansion-panel [expanded]="expandCollapse(aula.id)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aula {{i + 1}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <!-- <p>{{aula/Assunto}}</p> -->
              <span secondary>{{aula.Assunto}}</span>
              <li *ngFor="let aluno of turmasToday[i].Alunos; let j = index">
                  <span><b>{{aluno.Name}}</b></span>
                  <button class="presente" [ngStyle]="{'color': 'green'}">Presente</button>
                  <button class="ausente" [ngStyle]="{'color': 'red'}">Ausente</button>
                  <span><b>
                    {{alunosAttendance[j]}}/2
                  </b></span>
              </li>
            </mat-expansion-panel>
          </mat-accordion>

    </div>

  </div>

  <button class="buttonSearch">Adicionar Aluno</button>
</body>