<header>
  <h2> Chamada </h2>
  <h4> <a routerLink="/home/true"><button>Voltar</button></a> </h4>
    <!-- {{presencaCurso.nomeCurso}} </h4> -->
  <!-- <span class="data">{{myDate | date}}</span>
  <span class="hora">{{presencaCurso.inicio}} - {{presencaCurso.fim}}</span> -->
</header>

<body>
  <form class="form-inline md-form form-sm active-cyan-2">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput>
    <i class="fas fa-search" aria-hidden="true"></i>
    <button class="buttonSearch">Buscar</button>
  </form>

  <ul>
      <li *ngFor="let aula of class_student; let i = index">
        <expandable-list>
            <expandable-list-item>
              <span title (click)="goToAttendance(aula.id)">Aula {{i + 1}}</span>
              <span secondary>{{aula.Assunto}}</span>
              <!-- <li *ngFor="let aluno of turmasToday[i].Alunos"> -->
                  <!-- <li *ngFor="let aluno of aluno[2]">
                  <span><b>{{aluno}}</b></span>
                  <button class="presente" [ngStyle]="{'color': 'green'}">Presente</button>
                  <button class="ausente" [ngStyle]="{'color': 'red'}">Ausente</button>
              </li> -->

            </expandable-list-item>
          </expandable-list>

    </li>

  </ul>
</body>
