#logo {
  text-align: center;
  margin-top: 50px;
}

img {
  width: 80%;
  max-width: 400px;
}

#cha {
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}

#tur{
  text-align: center;
  padding: 30px;
}

#hist {
  text-align: center;
  padding: 30px;
}

#cale {
  padding: 30px;
  text-align: center;
}

.btn {
  font-size: 30px;
  width: 60%;
  max-width: 70%;
}