<!-- 
<header>
  <h2> Histórico </h2>
  <ul>
    <li>
      <h3>  <button (click)="goBack()">Voltar</button> 
        Faltas de {{user.nome}}</h3>
    </li>
  </ul>
</header> -->

<nav class="nav">
  <button class="btn btn-primary" (click)="goBack()">Voltar</button>
  <h2 class="tit">Histórico</h2>
</nav>

<div class="subt" id="subt">
<h3> Faltas de {{user.nome}} </h3>
<!-- <span class="data">{{myDate | date}}</span> -->
</div>

<body>
    <div class="content" *ngFor="let c of cursoFalta">
      <a routerLink='/detailFalta/{{c.id}}'>
        <div class="card">
          <span class=s1> <b> {{c.nomeCurso}} </b> </span>
          <div>
              <b>Já faltou: <span [ngStyle]="{'color': 'red'}"> {{c.falta}} </span> de no máximo {{c.totalFalta}}</b>
          </div>
          </div>
      </a>
    </div>
</body>
