
<header>
  <h2> Histórico </h2>
  <ul>
    <li>
      <h3>  <button (click)="goBack()">Voltar</button> 
        Faltas de {{user.nome}}</h3>
    </li>
  </ul>
</header>

<body>
  <ul>
    <li *ngFor="let c of cursoFalta">
      <a routerLink='/detailFalta/{{c.id}}'>
        <div class="card">
          <span class=s1> <b> {{c.nomeCurso}} </b> </span>
          <div>
              <b>Faltas: </b>
              <span [ngStyle]="{'color': 'red'}">{{c.falta}}/{{c.totalFalta}}</span>
          </div>
          </div> -->
        </div>
      </a>
    </li>
  </ul>
</body>
