/* header {
    h2 {
      text-align: center;
      margin: 0;
      padding: 0;
      display: block;
      color: #ffffff;
      background-color: rgb(57, 86, 148);
  
    }
  
    h4 {
      text-align: center;
      margin: 0;
      padding: 0;
      display: block;
      color: black;
      background: rgb(225, 226, 227);
  
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
  
      button {
        margin: 8px auto;
        font-family: Arial;
        background-color: #e1e2e3;
        border: none;
        padding: auto;
        border-radius: 0;
        cursor: pointer;
        float: left;
        font-size: medium;
      }
  
      button:hover {
        background-color: #cfd8dc;
      }
  
      li {
        display: inline;
        margin: 0 auto;
        padding: 0;
      }
  
    }
  }
  
  body {
    ul {
      margin: 0 auto;
      padding: 0;
      padding: 5px 5px 0 5px;
      border-left: none;
      border-right: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
  
      button {
        border: 1px solid #CCC;
        box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 3px;
  
        span.s1 {
          float: left;
        }
  
  
      }
  
      div.right {
        float: right;
        position: relative;
      }
  
    }
  
  } */

  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    color: #ffffff;
    background-color: rgb(57, 86, 148);
  }

  h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    color: black;
    background: rgb(225, 226, 227);
  }
   
  button {
    margin: 8px auto;
    font-family: Arial;
    background-color: #e1e2e3;
    border: none;
    padding: auto;
    border-radius: 0;
    cursor: pointer;
    cursor: hand;
    float: left;
    font-size: medium;
  }
   
  button:hover{
    background-color: #cfd8dc;
  }
  
  ul{
    margin: 0 auto;
    padding: 0;
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  li{
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
  }
  