<header>
  <h2> Turmas </h2>
  <h4> <a routerLink="/home/true"><button>Voltar</button></a>
    Turmas Realizadas </h4>

</header>

<body>
  <div class="header" *ngFor="let c of curso">
    <span class="title"><b>{{c.nomeCurso}}</b></span>
    <ul>
      <div *ngFor="let lista of listaCurso">
        <li *ngIf="c.id === lista.id">
          <a routerLink="/detailClasse/{{lista.idAula}}">
            <button class="card">
              <span><b>Aula </b></span>
              <span class="data">{{lista.data | date}}</span>
            </button>
          </a>
        </li>
      </div>
    </ul>
  </div>
</body>
