<nav class="nav">
  <button class="btn btn-primary" routerLink="/home/true">Voltar</button>
  <h2 class="tit">Turmas</h2>
</nav>

<div class="subt" id="subt">
  <h3> Turmas Realizadas </h3>
</div>

<body>
  <div>
    <div *ngFor="let turma of courseList">
      <mat-accordion (click)="populateStudents(turma.Turma)">
        <mat-expansion-panel [expanded]="expandCollapse(turma.Turma.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Turma {{turma.Turma.Name}}
            </mat-panel-title>
            <button class="add-button" (click)="showAddStudent(turma.Turma.id)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle_outline</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let student of studentList">
              <div>
                <b>
                  {{student.Name}}
                </b>
              </div>
              <button class="delete-button" (click)="removeStudent(student, turma.Turma)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete_outline</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</body>