<!-- <header>
  <h2> Turmas </h2>
  <h4> <a routerLink="/home/true"><button>Voltar</button></a>
    Turmas Realizadas </h4>
</header> -->

<nav class="nav">
  <button class="btn btn-primary" routerLink="/home/true">Voltar</button>
  <h2 class="tit">Turmas</h2>
</nav>

<div class="subt" id="subt">
  <h3> Turmas Realizadas </h3>
</div>

<body>
  <div class="header" *ngFor="let c of listaCurso">
    <span class="title"><b>{{c.Name}}</b></span>
    <div *ngFor="let lista of listaCurso">
      <div *ngIf="c.id === lista.id">
        <a routerLink="/detailClasse/{{lista.idAula}}">
          <button class="card">
            <span><b>Aula </b></span>
            <span class="data">{{lista.StartDate | date}}</span>
            <span class="data">{{lista.EndDate | date}}</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</body>