<html>
<h2>
    <div class="logo" id="logo">
    <img src='../../../assets/imgs/logo.png'>
  </div>
</h2>
 
<form (ngSubmit)="onSubmit()">
<!---->
  <div class="form-group">
        <input type="text" formControlName="username" class="form-control" placeholder="Usuário" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <input type="password" formControlName="password" class="form-control" placeHolder="Senha" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="log" id="log">
        <button [disabled]="disabledButton" class="btn btn-primary">Login</button>
    </div>
</form>
<div class="reg" id="reg">
    <button class="btn btn-primary" (click)="pushToRegisterPage()">Register</button>            
</div>
<!-- -->
</html>