<h1 mat-dialog-title> Escolha os alunos para adicionar</h1>
<div>
  <mat-selection-list #students (selectionChange)="onSelection($event, students.selectedOptions.selected)">
      <mat-list-option *ngFor="let student of data.students" [value] ="student">
        {{student.Name}}
      </mat-list-option>
   </mat-selection-list>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClicked()">Cancelar</button>
  <button mat-button (click)="addClicked(students.selectedOptions.selected)">Adicionar {{students.selectedOptions.selected.length}} alunos</button>
</div>