.title{
  color: black;
  font-size: 30px;
  height: 50px;
}
.navbar{
  text-align: center;
}

.nav{
  font-size: 30px;
  display: block;
  margin: 0;
  padding: 0;
  height: 38px;
  background: #007bff;
}

.tit{
  /* position: absolute; */
  text-align: center;
}

.btn{
  margin:auto;
  padding: auto;
  float: left;
}

#subt{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.qrBut{
  text-align: center;
}

.nomeEvento{
  font-size: 20px;
}

.card{
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.5); */
}

.content{
  /* text-align: center; */
  margin: 10px;
  /* border: 3px solid rgba(0, 0, 0, 0.5); */
  /* height: 200px; */

}
.data{
  font-size: 20px;
}

.varHora {
  float: right;
  position: relative;
}


/* header {}
    h2 {
      text-align: center;
      margin: 0;
      padding: 0;
      display: block;
      color: #ffffff;
      background-color: rgb(57, 86, 148);
  
    }
  
    h4 {
      text-align: center;
      margin: 0;
      padding: 0;
      display: block;
      color: black;
      background: rgb(225, 226, 227);
  
    }
  
  
    button {
      margin: 4px auto;
      font-family: Arial;
      background-color: #e1e2e3;
      border: none;
      padding: auto;
      border-radius: 0;
      cursor: pointer;
      float: left;
      font-size: medium;
    }
  
    button:hover {
      background-color: #cfd8dc;
    }
  
  body {}
  
    ul {
      margin: 0 auto;
      padding: 0;
      padding: 5px 5px 0 5px;
      border-left: none;
      border-right: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  
    li {
      border: 1px solid #CCC;
      box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
      margin-bottom: 5px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 3px;
    }
  
    span.data {
      float: left;
      position: relative;
    }
  
    span.varData {
      float: right;
      position: relative;
    }
  
    span.hora {
      float: left;
      position: relative;
    }
  
    span.varHora {
      float: right;
      position: relative;
    }
  
    span.curso {
      float: left;
      position: relative;
    }
  
    span.varCurso {
      float: right;
      position: relative;
    }
  
    p.info {
      margin: 1em auto;
      text-align: center;
      position: relative;
    }
    p.info2 {
      margin: 2em auto;
      text-align: center;
      position: relative;
    }
  
    button {
      width: 100%;
      margin: 3em auto;
      font-family: Arial;
      border: none;
      padding: auto;
      border-radius: 0;
      height: 5em;
      color: #ffffff;
      background-color: #395694;
      cursor: pointer;
    }
   */