<!-- <header>
  <h2> Chamada </h2>

  <h4> <a routerLink="/home/false"><button>Voltar</button></a>
    Realizar Chamada</h4>

</header> -->

<nav class="nav">
  <button class="btn btn-primary" id="bntVoltar" routerLink="/home/false">Voltar</button>
  <h2 class="tit">Chamada</h2>
</nav>

<div class="subt" id="subt">
  <h3> Realizar Chamada </h3>
  <span class="data">{{myDate | date}}</span>
</div>

<body>
  <div class="aviso1">
    <div class="content">
      <div class="card">
        <span class="data-hora-curso">
          <b>Data: </b>
          <span class="varData">{{myDate | date}}</span>
        </span>
      </div>
    </div>
    <!-- <div class="content">
      <div class="card">
        <span class="data-hora-curso">
          <b>Horário: </b>
          <span class="varHora">{{curso.inicio}}</span>
        </span>
      </div>
    </div>
    <div class="content">
      <div class="card">
        <span class="data-hora-curso">
          <b>Curso no Momento: </b>
          <span class="varCurso">{{curso.nomeCurso}}</span>
        </span>
      </div>
    </div> -->
  </div>

  <div class="aviso">
    <p class="info">Esteja presente para atender a Chamada</p>
    <!-- <p class="info2">Usa o QR Code para Atender a Chamada</p> -->

    <div *ngFor="let aula of aulasToday; let i = index">

        <mat-accordion (click)="setSingleExpansion(i)">
            <mat-expansion-panel [expanded]="expandCollapse(i)">
              <!-- <mat-expansion-panel> -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aula {{i + 1}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <!-- <p>{{aula/Assunto}}</p> -->
              <span secondary>Assunto: {{aula.Assunto}}</span>    
              <div class="qr">
                <button class="btn btn-primary" (click)="showScanner()" > {{scanBtnText}} </button>
              </div>
              <div>
                <!-- <div *ngIf="scannerShown">
                  <p> TESTANDO AQUI!!!</p>
                </div> -->
                <div *ngIf="scannerShown"  class="scanner-shell" [hidden]="!hasDevices">
                
                  <zxing-scanner #scanner [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)" [formats]="['EAN_13', 'CODE_128', 'QR_CODE']" [tryHarder]="true" (hasDevices)="hasDevices = $event" (permissionResponse)="hasPermission = $event"></zxing-scanner>
                
                  <section class="results" *ngIf="qrResultString">
                    <strong>Leitura realizada com sucesso!</strong>
                    <button (click)="clearResult()">&times;</button>
                  </section>
                
                </div>
                
                <ng-container *ngIf="hasPermission === undefined">
                
                  <h2>Esperando permissão...</h2>
                
                  <blockquote>
                    Caso o seu device não tenha câmeras, permissões não serão exigidas.
                  </blockquote>
                
                </ng-container>
                
                <ng-container *ngIf="hasPermission === false">
                
                  <h2>Você negou a permissão de acesso à câmera. Sem ela, não podemos ler o QR Code. 😪</h2>
                
                </ng-container>
                
                <ng-container *ngIf="hasDevices === undefined">
                
                  <h2>Não foi possível verificar o seu device.</h2>
                
                  <blockquote>
                    Isso pode estar sendo causado por algum erro de segurança.
                  </blockquote>
                
                </ng-container>
                
                <ng-container *ngIf="hasDevices === false">
                
                  <h2>Nenhum device foi encontrado.</h2>
                
                  <blockquote>
                    O seu device, provavelmente, não possui mídias associadas.
                  </blockquote>
                
                </ng-container>
                
                <footer>
                  <!-- <table class="table-scanner-state">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>Property</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Devices</td>
                      </tr>
                      <tr>
                        <td>Permissões</td>
                      </tr>
                    </tbody>
                  </table> -->
                  <!-- <p class="ng-version">Angular version: {{ ngVersion }}</p> -->
                </footer>
                </div>
                <!-- <div class="qr">
                    <button class="btn btn-primary" (click)="showScanner()" > {{scanBtnText}} </button>
                </div> -->
  
            </mat-expansion-panel>
          </mat-accordion>

    </div>

  </div>

  <!-- </div> -->
</body>





<!-- <header>
  <h2> Chamada </h2>

  <h4> <a routerLink="/home/false"><button>Voltar</button></a>
    Realizar Chamada</h4>

</header>

<body>
  <div class="aviso">
    <ul>
      <li>
        <span class="data"><b>Data: </b></span>
        <span class="varData">{{myDate | date}}</span>
      </li>
      <li>
        <span class="hora"><b>Horário: </b></span>
        <span class="varHora">{{curso.inicio}}</span>
      </li>
      <li>
        <span class="curso"><b>Curso no Momento: </b></span>
        <span class="varCurso">{{curso.nomeCurso}}</span>
      </li>
    </ul>
  </div>
  <div>
    <p>Leitor da Chamada</p>
    <zxing-scanner #scanner [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)" [formats]="['EAN_13', 'CODE_128', 'QR_CODE']" 
    [tryHarder]="true" (hasDevices)="hasDevices = $event" 
    (permissionResponse)="hasPermission = $event"></zxing-scanner>
  </div>
</body> -->

<!-- <div class="scanner-shell" [hidden]="!hasDevices">

    <header>
      <select (change)="onDeviceSelectChange($event.target.value)">
        <option value="" [selected]="!currentDevice">No Device Selected</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
      </select>
    </header>
  
    <zxing-scanner #scanner [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)" [formats]="['EAN_13', 'CODE_128', 'QR_CODE']" [tryHarder]="true" (hasDevices)="hasDevices = $event" (permissionResponse)="hasPermission = $event"></zxing-scanner>
  
    <section class="results" *ngIf="qrResultString">
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
      <button (click)="clearResult()">&times;</button>
    </section>
  
  </div>
  
  <ng-container *ngIf="hasPermission === undefined">
  
    <h2>Waiting for permissions.</h2>
  
    <blockquote>
      If your device does not has cameras, no permissions will be asked.
    </blockquote>
  
  </ng-container>
  
  <ng-container *ngIf="hasPermission === false">
  
    <h2>You denied the camera permission, we can't scan anything without it. 😪</h2>
  
  </ng-container>
  
  <ng-container *ngIf="hasDevices === undefined">
  
    <h2>Couldn't check for devices.</h2>
  
    <blockquote>
      This may be caused by some security error.
    </blockquote>
  
  </ng-container>
  
  <ng-container *ngIf="hasDevices === false">
  
    <h2>No devices were found.</h2>
  
    <blockquote>
      I believe your device has no media devices attached to.
    </blockquote>
  
  </ng-container>
  
  <footer>
    <table class="table-scanner-state">
      <thead>
        <tr>
          <th>Status</th>
          <th>Property</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Devices</td>
        </tr>
        <tr>
          <td>Permissions</td>
        </tr>
      </tbody>
    </table>
    <p class="ng-version">Angular version: {{ ngVersion }}</p>
  </footer>
  
   -->