<header>
  <h2> Chamada </h2>

  <h4> <a routerLink="/home/false"><button>Voltar</button></a>
    Realizar Chamada</h4>

</header>

<body>
  <div class="aviso">
    <ul>
      <li>
        <span class="data"><b>Data: </b></span>
        <span class="varData">{{myDate | date}}</span>
      </li>
      <li>
        <span class="hora"><b>Horário: </b></span>
        <span class="varHora">{{curso.inicio}}</span>
      </li>
      <li>
        <span class="curso"><b>Curso no Momento: </b></span>
        <span class="varCurso">{{curso.nomeCurso}}</span>
      </li>
    </ul>
  </div>
  <div>
    <p>Leitor da Chamada</p>
    <zxing-scanner></zxing-scanner>
  </div>
</body>
